html{ 
    -webkit-tap-highlight-color: transparent;
}
*{
    box-sizing: border-box;
}
body {
    position: relative;
    z-index: -1;
    margin:0;
    font-family: 'Galada', cursive;
    background-image: linear-gradient(180deg, #ff0060, #ff6975);
    background-repeat: repeat-x;
}

.body-bg {
    position: absolute;
    top: 0;
    opacity: 0.17;
    left: 0;
    right:0;
    bottom:50%;
    max-width: 100%;
    background-image:url(../images/me.JPG);
    background-size:cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.wrapper {
    position: relative;
    width:80%;
    margin:0 auto;
}
    
header,main,footer,.container { 
    display: block;
}

                            /*Header*/
header {
    text-align: center;
    font-size:3rem;
    padding:0;
    margin: 0;
    color:white;
}
.text-header {
    margin:0;
    padding:0.7rem;
    line-height:1rem;
}
.text-header p{
    font-size: 1rem;
}
.icons-list {
    padding:0 1rem;
    size: 1rem;
    margin:3rem;
}

.icons-list-item {
    display:inline-block;
    list-style-type: none;
}
.icons-list .fa {
    color:white;
}

i { 
    color:#000000;
    padding:0 1rem;
}
img { 
    display: block;
    max-width:90%;
    height:auto;
    margin-left:1rem;
}
.img-left::after{
    content:"";
    clear:both;
    display:table;

}

                       /*text1,2,3*/
.inf {
    display:block;
    background-color: rgb(255, 242, 242);;
    margin:2rem 0;
    padding-bottom: 3rem;
    padding-top:0.5rem;
}
.about {
    display:inline-block;
    margin:2rem 0 0 0;
}
.text-about{
    text-align:left;
}
.img-left {
    float:left;
    width:50%;
    margin:0;
    padding-right:0;
}
.img-work {
    display:flex;
    flex-flow: row nowrap;
}
h3 {
    font-family:'Merriweather', serif;
    margin:0.3rem 0 0.2rem 1rem;
    font-size: 1.5rem; 
}
p {
    font-family:'Sahitya', serif;
    margin:0 0 0 1rem;   
} 

                        /*text4,5,6*/
.space-even {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
small {
    color:rgb(141, 124, 124);
}

                           /*Form*/
form {
    display:flex;
    flex-flow: column nowrap;
    padding:1rem;
}
input {
    border-radius: 5px;
    padding:0.8rem;
    margin-bottom:1rem;
    border: 1px solid #767676;  
}
textarea {
    border-radius: 5px;
    padding-bottom:3rem;
}
::placeholder {
    font-size: 1rem;
    font-family:'Merriweather', serif; 
}
button {
    margin-left:1rem;
    border-radius:100px;
    padding:0.8rem 1.2rem;
    background-color: #FF5571;
    border:1px solid #FF5571;
    color:rgb(255, 246, 246);    
}
button:active {
    color:black;
}

                            /*Footer*/
footer {
    text-align: center;
    font-size: 3rem;
}
h2 {
    margin:1rem;
    font-size:2rem;
}

                            /*link*/
a {
    text-decoration: none;
    color:black;
    padding-right:0.5rem;
}
a:hover { 
    color:#FF5571;
    border-radius: 10px;
    border:1px solid #FF5571;
}

                          /*media queries phone*/

@media screen and (max-width:768px) {

.text-header h1 {
        font-size: 2rem;
    }
.text-header p {
    font-size: 0.8rem;
    margin-right:2rem;

    }
.icons-list-item {
    display:flex;
    flex-direction: column;
    margin-bottom:0.3rem;
}
.content{
    display:flex;
    flex-direction: column;
}
.img-left{
    width:100%;
    margin:0 auto;
    padding-bottom:1rem; 
}
h2{  
    text-align: center;
}
.text-about{
    text-align:center;
    margin-right:1rem;
}
.img-center{
    text-align: center;
}
.dec{ 
    margin-bottom:1rem;
}
button{
    padding: 0.5rem 1rem;
    width:50%;
}
.text-footer{
    font-size:2rem;
}
.space-even .a ,h3 {
    font-size:1.2rem;    
}
.space-even .fa {
    padding-right:0.2rem;
    padding-left:0;

}

}

                           /*media queries tablet*/
@media screen and (min-width:600px){
.details{ 
    text-align:center;
    margin:0 1rem;
}
.space-even{
    display:flex;
    flex-direction: column;
}
}
